.aside {
    padding-top: 1rem;
    width: 370px;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    @media screen and (max-width: 999px) {
        padding-top: 0;
    }

    h3 {
        text-decoration: underline;
        @media screen and (max-width: 999px) {
            text-align: center;
        }
    }

    .gitlink, .phone, .e-mail, .telegram {
        display: flex;
        @media screen and (max-width: 999px) {
            justify-content: center;
        }
        a {
            padding-top: 9px;
            text-decoration: none;
            color: $color_dark;
        }
    }

    .contacts img {
        width: 40px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    @media (max-width: 999px) {
        width: 100%;
    }

}